.nav-link {
  transition: all .1s linear;
  background: linear-gradient(to right, rgb(8, 9, 9) 50%, gray 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.nav-hover {
  background-position: left bottom;
}